<!DOCTYPE html>

<div class="row">
  <div class="col-sm-16">
    <h3><i class="glyphicon glyphicon-dashboard"></i> Trips Dashboard</h3>
    <hr>

    <div class="row">
      <div class="col-md-7">
        <div class="well">“Nothing compares to the simple pleasure of riding a bike” <em>– John F Kennedy</em></div>
          <hr>
        <div class="panel panel-default">
          <div class="panel-heading"><h4>Trip Stats</h4></div>
          <div class="panel-body">
            <medium><strong>Total number of trips:</strong> <%=@trips.count  %> </medium><br><br>

            <medium><strong>Average duration of trip:</strong> <%= @trips.average_duration_of_ride %> </medium><br><br>

            <medium><strong>Longest Ride:</strong> <%= @trips.longest_ride %> </medium><br><br>

            <medium><strong>Shortest Ride:</strong> <%= @trips.shortest_ride %> </medium><br><br>

            <medium><strong>Day with most trips:</strong> <%= @trips.day_with_most_trips %> </medium><br><br>

            <medium><strong>Day with least trips:</strong> <%= @trips.day_with_least_trips %> </medium><br><br>


            <h3>Rides per month by year</h3>
            <p> Total rides in 2013: <%= @trips.rides_by_year(2013) %> </p>
            <ul>
              <li>January: <%= @trips.rides_by_month(1) %> </li>
              <li>February: <%= @trips.rides_by_month(2) %> </li>
              <li>March: <%= @trips.rides_by_month(3) %> </li>
              <li>April: <%= @trips.rides_by_month(4) %> </li>
              <li>May: <%= @trips.rides_by_month(5) %> </li>
              <li>June: <%= @trips.rides_by_month(6) %> </li>
              <li>July: <%= @trips.rides_by_month(7) %> </li>
              <li>August: <%= @trips.rides_by_month(8) %> </li>
              <li>September: <%= @trips.rides_by_month(9) %> </li>
              <li>October: <%= @trips.rides_by_month(10) %> </li>
              <li>November: <%= @trips.rides_by_month(11) %> </li>
              <li>December: <%= @trips.rides_by_month(12) %> </li>
            </ul>

            <p> Total rides in 2014: <%= @trips.rides_by_year(2014) %> </p>
            <ul>
              <li>January: <%= @trips.rides_by_month(1) %> </li>
              <li>February: <%= @trips.rides_by_month(2) %> </li>
              <li>March: <%= @trips.rides_by_month(3) %> </li>
              <li>April: <%= @trips.rides_by_month(4) %> </li>
              <li>May: <%= @trips.rides_by_month(5) %> </li>
              <li>June: <%= @trips.rides_by_month(6) %> </li>
              <li>July: <%= @trips.rides_by_month(7) %> </li>
              <li>August: <%= @trips.rides_by_month(8) %> </li>
              <li>September: <%= @trips.rides_by_month(9) %> </li>
              <li>October: <%= @trips.rides_by_month(10) %> </li>
              <li>November: <%= @trips.rides_by_month(11) %> </li>
              <li>December: <%= @trips.rides_by_month(12) %> </li>
            </ul>

            <p> Total rides in 2015: <%= @trips.rides_by_year(2015) %> </p>
            <ul>
              <li>January: <%= @trips.rides_by_month(1) %> </li>
              <li>February: <%= @trips.rides_by_month(2) %> </li>
              <li>March: <%= @trips.rides_by_month(3) %> </li>
              <li>April: <%= @trips.rides_by_month(4) %> </li>
              <li>May: <%= @trips.rides_by_month(5) %> </li>
              <li>June: <%= @trips.rides_by_month(6) %> </li>
              <li>July: <%= @trips.rides_by_month(7) %> </li>
              <li>August: <%= @trips.rides_by_month(8) %> </li>
              <li>September: <%= @trips.rides_by_month(9) %> </li>
              <li>October: <%= @trips.rides_by_month(10) %> </li>
              <li>November: <%= @trips.rides_by_month(11) %> </li>
              <li>December: <%= @trips.rides_by_month(12) %> </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="btn-group btn-group-justified">
          <a href="/trips/new" class="btn btn-info col-sm-3">
            <i class="glyphicon glyphicon-plus"></i><br>
            add a trip
          </a>
          <a href="/trips" class="btn btn-info col-sm-3">
            <i class="glyphicon glyphicon-cog"></i><br>
            edit trips
          </a>
          <a href="#" class="btn btn-info col-sm-3">
            <i class="glyphicon glyphicon-question-sign"></i><br>
            help
          </a>
        </div>
            <hr>
          <p>
          <img src="http://piximus.net/media/16892/just-horsing-around-39.jpg" width="473">
          <h5 align="right"><em>"It's easier than riding a horse!"</em></h5>
          </p>
        </div>
      </div>
    </div>
</div>
